.navbar {
  background-color: rgb(44, 44, 44);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: rgb(43, 43, 43);
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 200ms;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
}
.nav-text a:hover {
  background-color: rgb(132, 132, 255);
  transition: 450ms;
}
.nav-menu-items {
  list-style: none;
  width: 100%;
}
.navbar-toggle {
  width: 100%;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span {
  margin-left: 15px;
}
.close-icon {
  margin-top: 10px;
}
